<!DOCTYPE html>
<html lang="en">
        <head>
                <%- include('partials/head')  %>
                <style type="text/css">
                    body {
                      background-color: #eee;
                      -webkit-font-smoothing: antialiased;
                      -moz-font-smoothing: grayscale;
                    }
                    .ui.container {
                      margin-top: 6rem;
                      max-width: 22rem !important;
                    }
                    .ui.large.form > .field:first-child {
                      margin-bottom: 0;
                    }
                  </style>
        </head>

<body>
   
    <div class="ui center aligned grid">
            <div class="ui container">
    <h3 class="ui huge header"><%= title %></h3>

    
        <% if(loginUser!=null){ %>
            <span>已登入:
                <%= loginUser   %>
            </span>
      <%  }else{ %>
        <span>未登入</span>
        <% }%>
     
      <form class="ui large form"  id="bowserLogin" method="post" action="/authuser">
         
            <input type="hidden" name="passurl" value="<%=repassUrl %>">
        
        <div class="field"> 
                <label>account </label>
                <div class="ui input">
                     <input type="text" name="account" />
                </div>
        </div>
        <div class="field">
                <label>password </label>
                <div class="ui input">
                     <input type="text" name="password" />
                </div>
        </div>

            <button id="submit" class="ui fluid large primary button" type="submit" value="login">
                    login
            </button>
        </div>
      </form>

            
            </div>
    </div>

    <footer>
            <%- include('partials/footer')  %>
    </footer>
</body>
</html>

<script>

$('#bowserLogin #submit').click(function(){
    alert('login...')
})


</script>